.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 70%;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e0e1e2;
    color: #000;

    width: 60%;
    height: 10vh;
    margin: 2.5rem 0 !important;

    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
}