.flag {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    &-img {
        width: 20vw;

        &:hover {
            cursor: pointer;
        }
    }
}


@media (min-width: 768px) {
    .flag-img {
      width: 10vw;
      margin: auto;
    }
  }