.footer {

    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        width: 200px;
        margin: 0;
        padding-right: 2rem;
    }

    &-logo {
        width: 30%;
        margin-right: 2rem;
    }

}

@media (min-width: 768px) {
    .footer-content {
        width: auto;
    }

    .footer-logo {
        width: 10%;
        margin-right: 2rem;
    }
}
