.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 8vh;

    &-content {
        width: 200px;
        margin: 0;
        padding-right: 2rem;
    }

    &-logo {
        width: 30%;
        margin-right: 2rem;
    }

}

@media (min-width: 768px) {

    .footer {
        max-height: 12vh;

        &-content {
            width: auto;
        }
        
        &-logo {
            width: 10%;
            margin-right: 2rem;
        }
    }


}
