.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 48vh;
    margin: 3rem auto 2rem auto;
    overflow: auto;
}

@media (min-width: 768px) {
    .main {
      margin: 3rem auto 3rem auto;
    }
    
  }